body {
    background: #ededed
}

.spacer-sm {
    padding-top: 30px;
}

.spacer-md {
    padding-top: 50px;
}

.title {
    font-size: 50px;
    font-family: "Montserrat";
    font-weight: 400;
}

.logo {
    width: 200px;
}

.social-icons {
    padding-top: 15px;
    text-align: center;
}

.social-icons a {
    text-decoration: none;
}

@media (max-width: 992px){
    .social-icons {
        padding-top: 0px;
    }
}