/* ==========================================================================
   Truequelibre UI
   ========================================================================== */

/* Table of contents
 * 
 * 1. Utilities
 * 2. Menus
 *
 */


 /* ===========================
   1. Utilities
   ============================ */

    .text-center { 
        text-align: center;
    }

    .text-right { 
        text-align: right;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

/* ===========================
   2. Menus
   ============================ */

   .menu {
       background-color: #fff159;
       padding-top: 12px;
       padding-bottom: 12px;
   }

   .menu > .container > .row:first-child {
       margin-bottom: 18px;
   }

   .menu .logo {
       width: 150px;
   }

   .menu .search-bar {
       width: 100%;
   }

   .menu .search-bar input[type="text"]{
        width: 90%;
        height: 40px;
        float: left;
        box-shadow: 0 1px 2px 0 #00000040;
        outline: none;
        border: none;
        padding: 5px 18px;
        border-radius: 2px 0 0px 2px;
        font-family: "Montserrat";
        font-size: 14px;
    }

    .menu .search-bar input[type="text"]::placeholder {
        color: #c4c4c4
    }

    .menu .search-bar button{
        width: 40px;
        height: 40px;
        box-shadow: 0 1px 2px 0 #00000040;
        outline: none;
        border: none;
        background-color: white;
        border-radius: 0 2px 2px 0;
        cursor: pointer;
    }

    .menu .offer-text {
        padding-top: 8px;
    }

   .menu .offer-text a {
    font-family: "Montserrat";
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    font-size: 15px;
   }

   .menu .middle-links {
       color: #33333399;
   }

   .menu .middle-links ul, .menu .right-links ul {
       list-style-type: none;
       padding:0;
       margin: 0;
   }

   .menu .middle-links ul li, .menu .right-links ul li{
        display: inline;
        font-size: 13px;
        margin-right: 12.5px;
   }

   .menu .middle-links ul li:last-child, .menu .right-links ul li:last-child {
       margin-right: 0;
   }

   .menu .middle-links ul li a, .menu .right-links ul li a {
    text-decoration: none !important;
    color: inherit;
   }
